@import "../../scss/common.scss";

body {
    background: #d8e0e5;
}

.container {
    
}

.form-control {
    font-size: 20px;
    line-height: 2;
    padding: 0 10px;
    border: 1px solid transparent;
}