<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app" class="container">
        <input type="text" class="form-control" placeholder="Add new item" v-model="newTodo" @keydown.enter="addTodo">
        <ul class="list-wrapper">
            <li v-for="todo in todos" :class="{ completed: todo.completed }">
                <input type="checkbox" v-model="todo.completed"> {{ todo.text }}
            </li>
        </ul>
    </div>

    <script src="../vue.js"></script>
    <script src="index.js"></script>
</body>
</html>