html, body {
    margin: 0;
    padding: 0;
    color: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", Arial, "Microsoft YaHei", sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


// mixin
@mixin boxShadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #fff;
}

@mixin transform($transformStyle) {
    -webkit-transform: $transformStyle;
    -moz-transform: $transformStyle;
    -ms-transform: $transformStyle;
    -o-transform: $transformStyle;
    transform: $transformStyle;
}

@mixin animation($animationStyle) {
    -webkit-animation: $animationStyle;
    -moz-animation: $animationStyle;
    animation: $animationStyle;
}

@mixin keyframes($names) {
    @-webkit-keyframes #{$names} {
        @content;
    }
    @-moz-keyframes #{$names} {
        @content;
    }
    @keyframes #{$names} {
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: '';
        content: '';
        content: '';
        content: '';
        display: block;
        clear: both;
    }
}