html, body {
  margin: 0;
  padding: 0;
  color: #222; }

body {
  font-family: "Roboto", Arial, "Microsoft YaHei", sans-serif;
  line-height: 1.5;
  font-size: 14px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.wrap {
  margin: 20px auto 60px;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #fff; }
  .wrap .mask-wrap {
    display: none; }
  .wrap .sidebar-wrap {
    padding: 30px;
    border-right: 1px solid #ccc; }
    .wrap .sidebar-wrap .sidebar {
      width: 139px; }
  .wrap .content-wrap {
    width: 100%;
    padding: 30px; }
    .wrap .content-wrap .content {
      margin-bottom: 10px; }
  .wrap .question-icon {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-size: 16px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.3);
    line-height: 41px;
    text-align: center;
    color: #fff; }

@media screen and (max-width: 767px) {
  .wrap .mask-wrap {
    display: block;
    position: absolute;
    background: #222;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0; }
    .wrap .mask-wrap.active {
      opacity: 0.3; }
  .wrap .sidebar-wrap {
    position: fixed;
    background: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 0;
    border-left: 1px solid #ccc;
    z-index: 1;
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0); }
    .wrap .sidebar-wrap.active {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      transition: all .3s ease-in-out; }
  .wrap .question-icon {
    display: block; } }
